#preto , .preto {
  background-color: black;
}

#vermelho , .vermelho {
  background-color: red;
}

#azul , .azul {
  background-color: blue;
}

#amarelo , .amarelo {
  background-color: yellow;
}

.white {
  background-color: white;
}

.color {
  border: black solid 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.pixel {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: solid black 1px;
}

#clear-board {
  display: block;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
